body {
  background-color: #541690;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

header {
  width: 100%;
  height: 4.5em;
  margin: 0;
  padding: 0;
}

.title-div{
  display: flex;
  justify-content: center;
  background-color: #FFCD38;
  font-size: 3em;
  color: #FF4949;
  padding: 0;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 8em;
  height: 3em;
}

.button {
  width: 8em;
  font-size: 1.2em;
}

.title-add-item {
  margin-top: 5.2em;
  display: flex;
  justify-content: center;
  color: #FF4949;
}

.form-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em;
}

.input-task, .input-name {
  width: 20em;
  height: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2em;
}

.form-button {
  width: 8em;
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

/* table */

.table th h1 {
  font-weight: bold;
  font-size: 1.3em;
  color: #8A2BE2;
}

.table {
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  margin-top: 5em;
  display: table;
}

.table td, .table th {
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  padding-left: 0.8em;  
}

/* Background-color of the odd rows */
.table tr:nth-child(odd) {
  background-color: #CCCCCC;
}

/* Background-color of the even rows */
.table tr:nth-child(even) {
  background-color: #FFFFFF;
}

.table th {
  background-color: #0A0C0D;
}

.table td:first-child { color: #05160c; }